.cuadrado-rojo {
  background-color: red;
  width: 250px;
  height: 250px;
}

.cuadrado-azul {
  background-color: blue;
  width: 250px;
  height: 250px;
}

.cuadrado-verde {
  background-color: green;
  width: 250px;
  height: 250px;
}
.contenedor {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin: 0px auto 0px auto;
  border: 2px solid black;
  width: 750px;
  height: 750px;

}

p {
  margin: 50%;
  color: white;
  font-size: 20px;
}
