body{
    background-color: beige;
}

.nav {
  background-color: bisque;
  margin-bottom: 50px;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 500px;
}



.carousel-inner{
    margin-bottom: 20px;
}
.card{
    margin: 40px;
}